$xs: 480px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$font-color-main: rgb(26, 188, 156);
$font-color-main-pronounced: rgb(26, 202, 167);
$font-color-grey: rgb(51, 51, 51);
$font-color-grey-light: rgba(51, 51, 51, 0.325);
$font-color-white: rgb(238, 238, 238);
$font-color-transparent-black: rgba(0, 0, 0, 0.4);

$font-heavy-text-shadow: 1px 1px 1px rgb(0 0 0 / 50%);
$font-heavy-text-shadow-light: 1px 1px 1px rgb(0 0 0 / 20%);

$border-radius: 2px;
