@use "../abstracts/variables" as *;

.company-info {
	margin: 0;

	& > div {
		margin: 1rem 0;
	}

	& * {
		margin: 0;
	}
}

.company-info__contact {
	> p > span {
		font-weight: bolder;
	}
}

.company-info__headquarters {
	> p:first-child {
		font-weight: bolder;
	}
}

.company-info__slogan {
	margin-top: 0 !important;
	line-height: 1.7;
}
