@use "../abstracts/variables" as *;

.card {
	box-shadow: $box-shadow;
	transition: all 0.2s;
}

.card:hover {
	transform: scale(1.08);
	box-shadow: $box-shadow-big;

	@media only screen and (max-width: $sm) {
		transform: scale(1.03);
	}
}

.card-img-top {
	width: 100%;
	height: 12rem;
	object-fit: cover;
}

.card-text {
	font-size: 14px;
	color: $font-color-grey;
}

.button-link {
	font-size: 13px;
	color: $font-color-main;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.button-link:hover {
	color: $font-color-main-pronounced;
	text-decoration: none;
}
