@use "../abstracts/mixins" as *;

.parallax-component {
	height: 26rem;
	border-radius: 0;
	position: relative;
	z-index: 1;
	overflow: hidden;
}

.parallax-component__background {
	transform: translateY(0px);
	background-image: url("../images/section-bg.jpeg");
	background-position: center;
	height: 100vh;
	width: 100%;
	position: absolute;
	z-index: -1;
	transform: all 1s;
}

.parallax-component__content {
	@include flexCenter(column);
	height: 100%;

	p {
		text-align: center;
	}

	h1 {
		text-align: center;
	}
}

.parallax-component__title {
	text-align: center;
}

.parallax-component__title {
	text-align: center;
}
