@use "../abstracts/mixins" as *;

.parallax-component {
	height: 26rem;
	border-radius: 0;
	position: relative;
	z-index: 1;
	overflow: hidden;
}

.parallax-component__background {
	transform: translateY(-16px);
	background-image: url("../images/section-bg.jpeg");
	background-position: center;
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: -1;
}

.parallax-component__content {
	@include flexCenter(column);
	height: 100%;
}
