@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.my-nav {
	&__wrapper {
		@include flexCenter(row, space-between);
		width: 100%;
		background-color: $font-color-grey;
		color: $font-color-white;
		height: 6.3rem;
		transition: all 0.3s;
		z-index: 10;

		@media only screen and (min-width: $md) {
			position: fixed;
			background-color: transparent;
		}
	}

	&__logo-wrapper {
		padding-left: 10%;

		@media only screen and (max-width: $xs) {
			padding-left: 5%;
		}
	}

	&__logo {
		height: 100px;
		object-fit: cover;
	}

	&__menu-wrapper {
		@include flexCenter();
		height: 100%;
		padding-right: 5%;
	}

	//mobile-nav

	&__hamburger-icon-wrapper {
		cursor: pointer;
		display: flex;

		@media only screen and (min-width: $md) {
			display: none;
		}
	}

	//laptop-nav

	&__menu-list {
		display: none;

		@media only screen and (min-width: $md) {
			@include flexCenter();
			height: 100%;
			margin: 0;
		}
	}

	&__menu-item {
		@include flexCenter();
		list-style-type: none;
		padding: 0 1rem;
		font-weight: 500;
		height: 100%;
		cursor: pointer;
		transition: 0.5s background-color;
		border-bottom-left-radius: $border-radius;
		border-bottom-right-radius: $border-radius;

		&:hover {
			background-color: $font-color-grey-light;
		}

		> a {
			color: white;
			text-decoration: none;
		}
	}

	&__menu-item-adopt {
		background-color: $font-color-main;
		color: white !important;
		height: 100%;
		border-bottom-left-radius: $border-radius;
		border-bottom-right-radius: $border-radius;

		&:hover {
			background-color: $font-color-main-pronounced;
			text-decoration: none;
		}
	}

	//active-dropdown-menu

	&__dropdown-menu-wrapper {
		max-height: 0px;
		overflow: hidden;
		transition: all 0.5s;
		background-color: $font-color-grey;
		color: $font-color-white;
	}

	&__dropdown-menu-list {
		margin: 0 0 2rem 0;
		padding: 0 2rem;
		height: auto;
		list-style: none;
		cursor: pointer;

		@media only screen and (min-width: $xs) {
			padding: 0 6rem;
		}
	}

	&__dropdown-menu-item {
		padding: 0.9rem 0;
		font-size: 0.8rem;
		font-weight: 700;
		letter-spacing: 1px;
		text-transform: uppercase;
		border-bottom: 1px solid rgba(255, 255, 255, 0.15);
		transition: color 0.3s;

		&:hover {
			color: $font-color-main;
		}

		&:last-child {
			border-bottom: none;
		}
	}

	&__hamburger-icon {
		transform: rotate(0deg);
		transition: opacity, transform 0.5s;
		top: 5%;
		right: 10%;
		position: absolute;
	}

	&__times-icon {
		transform: rotate(0deg);
		transition: opacity, transform 0.5s;
		top: 5%;
		right: 10%;
		position: absolute;
		font-size: 20px;
	}
}
